/* Set a custom font for the body */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #1f586e; /* white background */
  color: #a08b2d; /* dark text */
}

/* Style headings with a different color */
h1 {
  color: #6ab380; /* tomato */
  font-weight: 600; /* bold */
}

h2 {
  color: #262c64; /* green */
}

/* Style links */
a {
  color: #1E90FF; /* dodgerblue */
  text-decoration: none;
}

.about {
  color: #FF4500; /* orange-red */
}

/* Add custom button styles */
.home {
  background-color: #008CBA; /* blue */
  color: rgb(41, 82, 129);
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}

.contact {
  background-color: #005f73; /* darker blue */
}
