nav a {
  text-align: center;
}
/**/
.homepage {
  height: 40vmin;
  pointer-events: none;
}
.homepage{
  display: flex;
  justify-content: space-around;
  flex-direction: row;

}

.homepage li{
  list-style-type: none;
}



.nelly {
  background-color: #1b6147;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(23, 61, 40);
}

.nelly {
  color: #438f69;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


*{
  background-color: #32755c;
}